@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.container.img{
    display: flex;
    width: 100px;
    height: 300px;
    border: 0PX;

}

.child{
    width: 100%;
    height: 300px;
    background-color: black;
    border:1px solid black ;
    justify-content:right;
}
main{
    color: white;
    text-align: left;
}

h3{
    text-align: left;
    font: normal 16px;  
}
p{
    text-align: justify; 
    text-indent: 30px;   
}

.container_frase{
    display: flex;
    color: black;
    background-color: white;
    border: 1px solid white;
}
.container_row{
    display: flex;
    color: black;

}

.child1{
    width: 100%;
    height: 300px;
    background-color: white;
    border:1px solid white ;
    justify-content:right;

    
}

.child2{
    width: 100%;
    height: 300px;
    background-color: white;
    border:1px solid white ;
    justify-content: center;
  

}
.child3{
    width: 100%;
    height: 300px;
    background-color: white;
    border:1px solid white ;
    justify-content: center;
    
}


.button{
    position: relative;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000, #000000)
}

.container {
    margin-top: 100px
}

.container .row .col-lg-4 {
    display: flex;
    justify-content: center
}

.card {
    position: relative;
    padding: 0;
    margin: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    max-width: 280px;
    max-height: 340px;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

.card .card-image {
    width: 100%;
    max-height: 340px
}

.card .card-image img {
    width: 100%;
    max-height: 340px;
    object-fit: cover
}

.card .card-content {
    position: absolute;
    bottom: -180px;
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.2)
}

.card:hover .card-content {
    bottom: 0px
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1
}

.card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px
}

.card .card-content .social-icons {
    list-style: none;
    padding: 0
}

.card .card-content .social-icons li {
    margin: 10px;
    transition: 0.5s;
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px)
}

.card:hover .card-content .social-icons li {
    transform: translateY(20px)
}

.card .card-content .social-icons li a {
    color: rgb(0, 0, 0)
}

.card .card-content .social-icons li a span {
    font-size: 1.3rem
}

@media(max-width: 991.5px) {
    .container {
        margin-top: 20px
    }

    .container .row .col-lg-4 {
        margin: 20px 0px
    }
}
footer {
    background-color: #000000;
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 5px solid #292929;
  }
  
  .obanner { 
      display: grid;
      grid: auto-flow / 1fr 1fr ;
      
  }

.somos1 {
    margin-bottom: 200px;
}



  .somos2 {
      margin-left: 496px;
  }


  .logorodape2 {
    margin-top: 0px;  
    position: relative;
    width: 150em;
    flex: 0 1 auto;
    flex-shrink: 0;
  }