/* configuracoes gerais para navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* parte da barra de navegação */

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {

  color:#40E0D0;
}

header {
  width: 100%;
  height: 100vh;
  background: url('../imagens/imagem1.png') no-repeat 50% 50%;
  background-size: cover;
  margin-top: 0;
}

header h1 {

  color: white;
  font-family: 'PT Sans';
  text-align: left;

}

header p {

  color: white;
  font-family: 'Lora';
  font-size: 25px;
  font-weight: 500;

}

/* parte explicativa*/

.exp-section1 {
  margin-top: -15%;
  padding: 10%;
}

.exp-section1 h4 {
  color: #000000;
  font-weight: bold;
  font-family: 'PT Sans';
  font-size: 30px;
  text-align: left;
}

.exp-section1 h5 {
  color: #000000;
  font-weight: bold;
  font-family: 'PT Sans';
  font-size: 30px;
  text-align: left;
}

.exp-section1 .subheading {
  color: #40E0D0;
  font-size: 25px;
}

.exp-section1 p {
  font-family: 'Lora';
  font-size: 25px;
  text-align: left;
  color: #000000;
}

.exp-section1 .row {
  margin-top: 10%;
}

.how-img {
  text-align: center;
}

.how-img img {
  width: 80%;
}

/* parte com icones e texto */

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}

.text-center h1 {

  font-size: 30px;
  color: white;
  font-family: 'PT Sans';
  padding-bottom: 10px;
}

.text-center h2 {

  font-size: 20px;
  color: white;
  font-family: 'Lora';

}

.row svg {
  color: #40E0D0;
}

.row h6 {

  color: white;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  font-family: 'PT Sans';
}

.row p{

font-family: 'Lora';

}
/* parte com imagem e cta */

.fontecta{

  font-family: 'PT Sans';
}
.col-lg-5 p {

  color: #000000;
}


/* parte do footer */

footer {
  background-color: #000000;
  padding-top: 5em;
  padding-bottom: 40px;
  border-top: 5px solid #292929;
}

.logobaixo {
  display: block;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: white;
  margin: 0 12px;
}

.foote_bottom_ul_amrc li a:hover {
  color: #40E0D0;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #40E0D0;
  border: 1px solid #40E0D0;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* chatbox */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.chat-box {
  width: 350px;
  height: 400px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  position: fixed;
  margin: 50px;
  z-index: 1;
}

.client {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  background-color: #40e0d2;
  padding: 15px;
}

.client img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.client-info {
  color: #fff;
  padding: 15px;
}

.chats {
  width: 100%;
  padding: 0 15px;
  color: #fff;
  position: relative;
  font-size: 0.7em;
  font-weight: bold;
}

.site-chat {
  width: 60%;
  word-wrap: break-word;
  background-color: #284b48;
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px 0;
}

.client-chat {
  width: 60%;
  word-wrap: break-word;
  background-color: #40e0d2;
  padding: 7px 10px;
  border-radius: 10px 10px 0 10px;
  margin: 5px 0 5px auto;
}

.chat-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.chat-input input {
  width: calc(100% - 40px);
  height: 100%;
  background-color: #fff;
  border-radius: 50px;
  color: #000000;
  font-size: 1.2em;
  padding: 0 15px;
  border: none;
}

.send-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: none;
}

.send-btn:active {
  transform: scale(0.85);
}

.send-btn img {
  width: 100%;
  height: 100%;
}

.chat-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
}

.chat-btn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transition: 0.4s ease-in-out;
}

.chat-btn:hover img {
  transform: rotate(30deg);
}