/* configuracoes gerais para navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans'; 
}

/* parte da barra de navegação */

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {

  color:#40E0D0;
}

.container-fluid {
    padding: 0;
}
#mainSlider .carousel-inner , #mainSlider .carousel-item{
    height: 90vh;

}

header {
  width: 100%;
  height: 100vh;
  background: url('../imagens/imagemquemsomosheader.png') no-repeat 50% 50%;
  background-size: cover;
  margin-top: 0;
}


/*Sobre a +black*/

#abouut-area {
    background-color: #ffffff;
}

.img-fluid{

margin-top: 20px;
}

.main-title {
color: #000000;
margin: 0 0 65px 0;
font-size: 50px;
text-align: center;
font-family: 'PT Sans';
margin-top: 15px;
}


.about-title {
    font-size: 30px;
    color: #000000;
    font-family: 'Lora';
}

.col-md-6 p {
   
    color: #000000;
    text-align: justify;
    font-weight: bolder;
    margin-bottom: 50px;
    
}

/* Você sabia */

.services-area{
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}

.service-box {
  text-align: center;
  margin-bottom: 50px;
  
}

.col-12 h3{ 
  margin-bottom: 30px;
  font-family: 'PT Sans';
}

.col-12 h4{

  font-family: 'Lora';
}

.service-box i, .service-box h5 {
  transition: .5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.service-box h5 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-family: 'Lora';
}

.service-box:hover > i, .service-box:hover > h5 {
  color: #40e0d2;
}

.btn-primary   {
  background-color: #65DAF9;
  color: rgb(14, 13, 13);
  text-transform: uppercase;
  width: 1000;
  height: 50;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.btn-primary :hover {
  text-decoration: none;
  color: rgb(5, 5, 5);
  background-color: transparent;
  border-color: #3EC1D5;
}

/* Slider */

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #FFF;
}

.main-btn {
  background-color: #65DAF9;
  color: rgb(14, 13, 13);
  text-transform: uppercase;
  width: 80px;
  height: 40;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.main-btn:hover {
  text-decoration: none;
  color: rgb(5, 5, 5);
  background-color: transparent;
  border-color: #40e0d2;
}

.carousel-indicators .active {
  background-color: white;
}

/* Nosso time  */

/*.team-area{
background-image: url('../imagens/nossotime.jpg'); ---Tentar encaixar isso melhor na terceira entrega, pois trava o código
}*/

.textos h3 {
text-align: center;
margin-top: 30px;
font-family: 'PT Sans';
font-size: 45px;
}

.textos h6{

font-family: 'Lora';

}

.single-team .inner {
  text-align: center;
	margin-bottom: 35px;
	border: 1px solid #e5eaf0;
	padding: 5px 5px 0px;
}

.single-team .inner .team-img {
	position: relative;
}

.single-team .inner .team-img img {
	width: 100%;
}

.single-team .inner .team-img::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}

.single-team .inner .team-img:hover::after {
	opacity: 0.4;
}

.single-team .inner .team-content {
	padding: 22px 0px 0px;
}

.single-team .inner .team-content h4 {
	font-size: 18px;
	font-weight: 400;
  font-family: 'PT Sans';
}

.single-team .inner .team-content h5 {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #7d91aa;
}

.single-team .inner .team-content a {
	display: inline-block;
	padding: 2px;
	margin: 0 3px;
	font-size: 16px;
}

.team-social {
	background: #f3f6fa;
	width: 50%;
	padding-top: 4px;
	margin: auto;
	border-radius: 15px 15px 0px 0px;
	margin-top: 17px;
}

/* Linha do Tempo*/

.time-line{

  margin-bottom: 30px;

}
.main-timeline4 {
  overflow: hidden;
  position: relative;
   
}

.main-timeline4:after,
.main-timeline4:before {
  content: "";
  display: block;
  width: 100%;
  clear: both
}

.main-timeline4:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #40e0d2;
  position: absolute;
  top: 30px;
  left: 50%
}

.main-timeline4 .timeline {
  width: 50%;
  float: left;
  padding-right: 30px;
  position: relative
}

.main-timeline4 .timeline-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #000000;
  border: 3px solid #40e0d2;
  position: absolute;
  top: 5.5%;
  right: -17.5px
}

.main-timeline4 .year {
  display: block;
  padding: 10px;
  margin: 0;
  font-size: 30px;
  color: rgb(0, 0, 0);
  border-radius: 0 50px 50px 0;
  background: #40e0d2;
  text-align: center;
  position: relative
}

.main-timeline4 .year:before {
  content: "";
  border-top: 35px solid #40e0d2;
  border-left: 35px solid transparent;
  position: absolute;
  bottom: -35px;
  left: 0
}

.main-timeline4 .timeline-content {
  padding: 30px 20px;
  margin: 0 45px 0 35px;
  background: #f2f2f2
}

.main-timeline4 .title {
  font-size: 19px;
  font-weight: 700;
  color: #000000;
  margin: 0 0 10px
}

.main-timeline4 .description {
  font-size: 16px;
  color: #000000;
  margin: 0
}

.main-timeline4 .timeline:nth-child(2n) {
  padding: 0 0 0 30px
}

.main-timeline4 .timeline:nth-child(2n) .timeline-icon {
  right: auto;
  left: -14.5px
}

.main-timeline4 .timeline:nth-child(2n) .year {
  border-radius: 50px 0 0 50px;
  background: #40e0d2
}

.main-timeline4 .timeline:nth-child(2n) .year:before {
  border-left: none;
  border-right: 35px solid transparent;
  left: auto;
  right: 0
}

.main-timeline4 .timeline:nth-child(2n) .timeline-content {
  text-align: right;
  margin: 0 35px 0 45px
}

.main-timeline4 .timeline:nth-child(2) {
  margin-top: 170px
}

.main-timeline4 .timeline:nth-child(odd) {
  margin: -175px 0 0
}

.main-timeline4 .timeline:nth-child(even) {
  margin-bottom: 80px
}

.main-timeline4 .timeline:first-child,
.main-timeline4 .timeline:last-child:nth-child(even) {
  margin: 0
}

.main-timeline4 .timeline:nth-child(2n) .timeline-icon {
  border-color: #40e0d2
}

.main-timeline4 .timeline:nth-child(2n) .year:before {
  border-top-color: #40e0d2
}

.main-timeline4 .timeline:nth-child(3n) .timeline-icon {
  border-color: #40e0d2
}

.main-timeline4 .timeline:nth-child(3n) .year {
  background: #40e0d2
}

.main-timeline4 .timeline:nth-child(3n) .year:before {
  border-top-color: #40e0d2
}

.main-timeline4 .timeline:nth-child(4n) .timeline-icon {
  border-color: #40e0d2
}

.main-timeline4 .timeline:nth-child(4n) .year {
  background: #40e0d2
}

.main-timeline4 .timeline:nth-child(4n) .year:before {
  border-top-color: #40e0d2
}

@media only screen and (max-width:767px) {
  .main-timeline4 {
      overflow: visible
  }
  .main-timeline4:before {
      top: 0;
      left: 0
  }
  .main-timeline4 .timeline:nth-child(2),
  .main-timeline4 .timeline:nth-child(even),
  .main-timeline4 .timeline:nth-child(odd) {
      margin: 0
  }
  .main-timeline4 .timeline {
      width: 100%;
      float: none;
      padding: 0 0 0 30px;
      margin-bottom: 20px!important
  }
  .main-timeline4 .timeline:last-child {
      margin: 0!important
  }
  .main-timeline4 .timeline-icon {
      right: auto;
      left: -14.5px
  }
  .main-timeline4 .year {
      border-radius: 50px 0 0 50px
  }
  .main-timeline4 .year:before {
      border-left: none;
      border-right: 35px solid transparent;
      left: auto;
      right: 0
  }
  .main-timeline4 .timeline-content {
      margin: 0 35px 0 45px
  }
}

/* parte do footer */

footer {
  background-color: #000000;
  padding-top: 5em;
  padding-bottom: 40px;
  border-top: 5px solid #292929;
}

.logobaixo{
  display: block;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto
  
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: white;
  margin: 0 12px;
}

.foote_bottom_ul_amrc li a:hover {
  color:#40E0D0;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #40E0D0;
  border: 1px solid #40E0D0;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* chatbox */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.chat-box {
    width: 350px;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: fixed;
    margin: 50px;
    z-index: 1;
}

.client {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #40e0d2;
    padding: 15px;
}

.client img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.client-info {
    color: #fff;
    padding: 15px;
}

.chats {
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.7em;
    font-weight: bold;
}

.site-chat {
  width: 60%;
  word-wrap: break-word;
  background-color: #284b48;
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px 0;
}

.client-chat {
  width: 60%;
  word-wrap: break-word;
  background-color: #40e0d2;
  padding: 7px 10px;
  border-radius: 10px 10px 0 10px;
  margin: 5px 0 5px auto;
}

.chat-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.chat-input input {
  width: calc(100% - 40px);
  height: 100%;
  background-color: #fff;
  border-radius: 50px;
  color: #000000;
  font-size: 1.2em;
  padding: 0 15px;
  border: none;
}

.send-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: none;
}

.send-btn:active {
  transform: scale(0.85);
}

.send-btn img {
  width: 100%;
  height: 100%;
}

.chat-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
}

.chat-btn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transition: 0.4s ease-in-out;
}

.chat-btn:hover img {
  transform: rotate(30deg);
}
